/* We'll eventually replace this css, but this gives us some styles for lesson 1 */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

:root {
  /* Colors */
  --primary: #f2e8f1;
  --primary-light: #f2e8f1;
  --accent: #a6b0c5;
  --grey: #7a98ab;
  --error: #f52;
  --background: #f5f5f6;
  --background-accent: #cfe5f2;
  --white: #fff;
  --border: #99a;
  /* Sizes */
  --radius: 10px;
  --space-xs: 5px;
  --space-sm: 10px;
  --space-md: 20px;
  --space-xl: 40px;
}

/* ------------------------------------------------------------------------ */
/* Micro reset */
/* ------------------------------------------------------------------------ */

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ------------------------------------------------------------------------ */
/* General styles */
/* ------------------------------------------------------------------------ */

body {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  background-color: var(--primary);
  height: 100vh;
  overflow: hidden;
}

h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  margin: var(--space-md) 0;
}

h2 {
  color: var(--primary);
  font-weight: 700;
}

section,
header,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  gap: 10px;
  padding: 10px;
  width: 350px;
}

.form-container {
  background-color: var(--accent);
  border-radius: 8px;
  padding: 30px 10px;
  width: 500px;
  margin: 0 auto;
}

form input,
form button {
  padding: 0.3rem;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #cecece;
}

form button {
  color: var(--border);
  font-weight: 700;
  font-size: 15px;
  background-color: var(--primary-light);
}

header {
  margin-bottom: 1em;
}

a {
  margin: 0 auto;
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius);
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
  text-align: center;
  background-color: white;
  color: var(--primary);
}

table {
  min-width: 300px;
  background-color: white;
  min-height: 300px;
}

th {
  background-color: #ddd;
  padding: 10px;
}
